* {
  margin: 0;
}

select, input, button {
  color: rgb(17, 7, 63);
}

body {
  background-color: rgb(17, 7, 63);
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  text-align: center;
}

.App-logo {
  width: 300px;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {

    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 65vh;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

.App-filter-section {
  color: rgb(226, 226, 226);
}

.App-table {
  color: rgb(226, 226, 226);
  max-width: 90%;
  min-width: 80%;
}

/* @keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */

.numericValuesFilterContainer {
  display: flex;
  flex-direction: column;
}

.numericValueFilterAndDeleteBtnContainer {
  align-items: space-around;
  display: flex;
  flex-direction: row;
}

.removeNumericFilterBtn {
  background-color: darkblue;
  border-radius: 50%;
  color: yellow;
}
